/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17 nov. 2021, 08:44:24
    Author     : rakotondran
*/

#title {
  text-align: center;
  border : 1mm solid rgb(174, 153, 151);
  border-radius: 10px;
  font-family: Georgia, serif;
  font-size: x-large;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 20px;
  font-weight: bold;
}


body {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/image_fond.jpg");
  background-size: 1200px;
}

#container{
  display: flex;
  flex-direction: row;
}

label{
  margin-right: 30px;
  font-weight: bold;
  font-size: large;
}

footer{
  position: fixed;
  bottom: 0;
  width:100%;
  padding-top:15px;
  height:30px;
  color: white;
  text-align: right;
  background: rgb(174, 153, 151);
  padding-right: 40px;
}




